<section class="section reveal" id="leadership">
  <h2 class="section-title">Leadership</h2>
  <article class="leader reveal">
    <img
      class="leader-photo"
      src="{{ site.data.leadership.photo }}"
      alt="{{ site.data.leadership.alt }}"
      width="800"
      height="800"
    >
    <div class="leader-copy">
      <p class="leader-role">{{ site.data.leadership.role }}</p>
      <h3 class="leader-name">{{ site.data.leadership.name }}</h3>
      <p class="leader-bio">{{ site.data.leadership.bio }}</p>
    </div>
  </article>
</section>
